.activeFilters {
    min-height: 30px;

    position: relative;
    max-height: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.activeFilterBox {
    background: #2F3036;
    border: 1px solid #656565;
    display: flex;
    font-size: 14px;
    line-height: 16px;
    padding: 1px;
}

.filterKey {
    padding-right: 5px;
    font-weight: 800;
    text-transform: capitalize;
}

.filterVal {
    margin-right: 10px;
}

.activeFilterBox.deactivated {
    background-color: #666666;
    color: #ccc;
}

.activeFilterBox.deactivated .filterKey, .activeFilterBox.deactivated .filterVal {
    text-decoration: line-through;
}

.filterBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8d8d8d;
    color: black;
    padding: 0 5px;
    width: 25px;
    font-size: 26px;
    line-height: 26px;
    font-weight: 600;
    border: none;
    margin-right: 1px;
}

.filterBtn:last-child {
    margin-right: 0;
}

.filterBtn:hover {
    background: #ffbd44;
}

.filterKey:focus, .filterKey:active {
    outline: none;
}

.filterKey:last-child {
    border-radius: 0 2px 2px 0;
}

.deleteButton:hover {
    background: #F34C4C;
}

.activeFilterBox.deactivated .filterBtn {
    border-left: 1px solid #666666;
}

.edit {
    padding: 0 5px;
}

.edit:hover {
    background: #1E9AE4;
}

.toggleShow {
    padding: 0 5px;
}

.toggleShow.hide:before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: #ccc;
    background: url('/img/search/eye.svg') no-repeat center center;
}

.toggleShow:before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: #ccc;
    background: url('/img/search/hide.svg') no-repeat center center;
}
