.filterList,
.filterList:focus,
.filterList:active {
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 0;
    outline: none;
}

.expanderContent {
    min-height: unset;
    padding: 5px 0;
    border-bottom: 1px solid #656565;
    font-size: 12px;
    line-height: 14px;
    color: #9f9f9f;
    text-transform: uppercase;
    list-style: none;
}

.expanderContent::marker {
    display: none;
}

details {
    margin-bottom: 20px;
}

details:last-child {
    margin-bottom: 0;
}

details:first-child {
    margin-top: 0;
}

.inner {
    padding: 5px 0;
    font-size: 12px;
    line-height: 14px;
    color: #9f9f9f;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #656565;
}

.inner:focus,
.inner:active {
    outline: none;
}

.inner::-webkit-details-marker {
    order: 1;
}

.clearButton {
    position: absolute;
    right: 10px;
}

.clearButton:hover {
    cursor: pointer;
}
